<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="wellcomePlayer" data-uri="/britainUnderFire.json" data-config="player-config.json" data-assetsequenceindex="0" data-assetindex="0" data-zoom="-0.4601,0,1.9201,1.3369" style="width:800px; height:600px; background-color: #000"></div>
<script type="text/javascript" id="embedWellcomePlayer" src="/wellcomeplayer-1.0.0/js/embed.js"></script><script type="text/javascript"></script>